<h2>Редактировать <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                label: 'Пароль',
                hint: "оставьте пустым, если не хотите менять",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: 'Подтверждение пароля',
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                label: 'Текущий пароль',
                hint: "нужно ввести пароль еще раз для подтверждения изменений",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Обновить", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Удалить мой аккаунт</h3>

<div>Куда же вы мама? Крикнул зять бросая тёщу из окна. <%= button_to "Удалить мой аккаунт", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Вы уверены?", turbo_confirm: "Вы уверены?" }, method: :delete %></div>

<%= link_to "Назад", :back %>
